.alert-container{
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    margin:auto;
}
.alert-info{
    background-color: #E6F6FF;
    border: 1px solid #91D5FF;    
}

.alert-error{
    background-color: #FFF1EF;
    border: 1px solid #FFCCC6;
    color: crimson;
      width: 70%;
}
.title-text{
    margin-top: 0px;
}

.body-text{
    font-weight: 500;
}