.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-block: 2.5rem;
}

.appList-container > div {
  margin-bottom: 1rem;
}

.subheader-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.subheader-section button {
  margin-top: 0px;
}

.query-input {
  width: 155px;
  padding: 15px;
  border-radius: 6px;
  margin-right: 0.1rem;
  margin-block: 1rem;
}
/* ThanksMessage comp styles */
.message-container {
  background-color: #cff4fc;
  font-weight: 500;
  font-size: 1.2rem;
  width: 90%;
  border-radius: 10px;
  color: #2b444e;
}

@media only screen and (min-width: 765px) {
  .appList-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1025px) {
  .appList-container {
    display: flex;
    flex-wrap: wrap;
  }
}
